<div class="main-container ms-5 me-5">
  <h2 class="py-3 ms-5"><%= "#{@fighter.nickname}" %></h2>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="fighter-infos">
        <div class="d-flex fighter-photos">
          <div class="col-8">
            <img src="https://partyanimals.com/media/avatars/thumbnails/avatars-10.webp" alt="img fighter" width=97% height =100%>
          </div>
          <div class="col-4">
            <img src="https://partyanimals.com/media/avatars/thumbnails/avatars-12.webp" alt="img fighter" width=97% class="mb-3">
            <img src="https://partyanimals.com/media/avatars/thumbnails/avatars-16.webp" alt="img fighter" width=97%>
          </div>
        </div>
      </div>
      <div class="fighter-details mt-3">
        <h3><%= "#{@fighter.first_name} #{@fighter.last_name}" %></h3>
        <p><i class="fa-solid fa-ruler-vertical"></i><%= " #{@fighter.height}cm  |  "%>
          <i class="fa-solid fa-weight-scale"></i></i><%= " #{@fighter.weight} kg " %></p>
        <p><i class="fa-solid fa-user-ninja"></i><%= " Fight style:"%>
          <b><%="#{@fighter.fight_style}" %></b>
        </p>
        <hr class="mt-4">
        <div class="avatar-section">
          <%= render "shared/default_photo", item: @fighter, default_img: "https://partyanimals.com/media/avatars/avatars-2.png", class_name: "avatar", alt: "avatar" %>
          <div class="notification-content">
            <h5>Fighter experience</h5>
            <p>I have completed <b><%= @fighter.accepted_passed_events %></b> fight <%= @fighter.accepted_passed_events > 1 ? "s" : "" %></p>
          </div>
        </div>
        <div>
          <hr>
          <h4>Description</h4>
          <p><%="#{@fighter.description}" %></p>
        </div>
      </div>
    </div>
    <div class="form ms-3 col-lg-5">
      <%= render "events/form", fighter: @fighter, event: @event %>
    </div>
  </div>
  <div class="reviews-container col-lg-12 mx-5">
    <div class="row">
      <hr>
      <h4>Reviews</h4>
      <% @fighter.reviews.each do |review| %>
          <% if review.user_to_fighter %>
      <div class="col-lg-6">
            <%= render "reviews/show", review: review %>
      </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="map mx-5">
    <hr>
    <h4>Where to find me?</h4>
    <div class="row">
      <p>I'm here</p>
    </div>
  </div>
</div>




  <%# <div class="card">
    <% unless current_user && current_user.fighter && current_user.fighter.id == @fighter.id %>
      <%# <%= link_to "> book an event with #{@fighter.nickname}", new_fighter_event_path(@fighter), class:"btn btn-danger text-light" %>
    <%# <% end %>
  <%# </div> %>
