<%# <% img_paths = [
"https://partyanimals.com/media/screenshots/media-image-5.jpg",
"https://partyanimals.com/media/screenshots/media-image-6.jpg",
"https://partyanimals.com/media/screenshots/media-image-7.jpg",
"https://partyanimals.com/media/screenshots/media-image-9.jpg"
] %>
<% verbs = {
  passed: "engaged in",
  ongoing: "is engaging in",
  coming: "will engage in"
} %>
<% visitor = visitor || "public" %>

      <div class="event-card-container col-xl-4 col-md-6 my-1">
                <%= link_to event_path(event), class:"all-inherit" do %>
        <div class="uh-card h-100">
        <div class="uh-image">
          <%= render "shared/default_photo",
                    item: event,
                    path: ["https://partyanimals.com/media/screenshots/media-image-", ".jpg"],
                    alt: "#{event.title}'s image" %>
          <% if visitor == "user" %>
            <%= render "events/status_badge", status: event.status, class_name: "status-badge-in-card" %>
          <% end %>
        </div>

          <div class="uh-card-body card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0 text-body-secondary">
            <% if visitor == "public" || visitor == "user" %>
              <%= event.fighter.nickname %>
            <% elsif visitor == "fighter" %>
              <%= event.user.first_name %>
            <% end %>
            </h5>
            <% if status = "passed" %>
              <span><%= event.start_time.to_date %></span>
            <% else %>
              <span class="badge"></span>
            <% end %>
          </div>
            <p class="card-subtitle text-muted mb-2">
            <% if visitor == "public" %>
              <%= verbs[status.to_sym] %>
            <% elsif visitor == "fighter" %>
              invited you to
            <% end %>
              <%= event.title %>
            </p>
            <p class="card-text text-muted">
              <%= truncate(event.description, length: 50) %>
            </p>
            <% unless event.place.empty? %>
            <p class="card-text">
              <i class="fa-solid fa-location-dot"></i> <%= event&.place %>
            </p>
            <% end %>
            <% if visitor == "fighter" %>
            <div class="row btn-group-on-event-button">
            <div class="col-lg-6">
            <%= link_to "Accept the invitation",
                event_path(event, event: { status: "accepted"}),
                data: { turbo_method: :patch },
                class:"border border-0 badge text-bg-success text-light link-offset-2 link-underline link-underline-opacity-0" %>
            </div>
            <div class="col-lg-6">
              <%= link_to "Decline the invitation",
                            event_path(event, event: { status: "declined" }),
                            data: { turbo_method: :patch },
                            class:"border border-0 badge text-bg-light link-offset-2 link-underline link-underline-opacity-0" %>
            </div>
            </div>
            <% end %>
            <p class="btn btn-flat px-3 py-1 text-center text-light event-button">
            see more details
            </p>
          </div>
          <% end %>
        </div>
      </div>
