<%= simple_form_for([fighter, event], html: {
                      data: {
                        controller: 'datepicker'
                      }
                    }) do |f| %>
<div class="row">
  <div class="col-md-6">
    <%= f.input :title, label: "Fight title" %>
  </div>
  <div class="col-md-6">
    <%= f.input :fight_type, collection: %w[programmed ambush] %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :place %>
  </div>
  <div class="col-md-6">
    <%= f.input :target %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :start_time,
                as: :string,
                input_html: {
                  data: {
                    datepicker_target: 'startTimeInput',
                  }
                } %>
  </div>
  <div class="col-md-6">
    <%= f.input :duration,
                as: :integer,
                input_html: {
                  min: 1,
                  max: 6,
                  placeholder:1
                }%>
  </div>
</div>
<div class="description-container">
  <%= f.input :description,
              as: :text,
              :input_html => { 'rows' => 3 } %>
</div>
  <i>Feeling like fighting incognito or shining in the spotlight? Private or public, the choice is yours!</i>
  <%= f.input :is_private,
              label: "Private fight",
              style: "margin-bottom:10px"
   %>
  <div class="button-container">
    <%= f.button :submit, "Book fight",
                  class:"btn-flat" %>
  </div>
<% end %>
