<% img_paths = [
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-6.jpg",
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-7.jpg",
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-9.jpg"
] %>

<h2>My Events with Fighters</h2>
<div class="row">
  <% events.each do |event| %>
    <div class="col-xl-4 col-md-6 my-1">
      <div class="card" style="height:100%">
        <%= render "shared/default_photo",
                  item: event,
                  default_img: img_paths.sample,
                  class_name: "",
                  alt: "#{event.title}'s image" %>
        <div class="card-body">
          <h5 class="card-title">
            <%= event.title %>
            <%= render "events/status_badge", status: event.status, date: event.end_time %>
          </h5>
          <p class="card-text">
          <%= event&.place %>
          </p>
          <%= link_to "See more", event_path(event), class:"badge text-bg-primary text-light link-offset-2 link-underline link-underline-opacity-0" %>
          <%= link_to "Edit event", edit_event_path(event), class:"badge text-bg-danger text-light link-offset-2 link-underline link-underline-opacity-0" %>
        </div>
      </div>
    </div>
<% end %>
</div>

<% if fighter_events %>
  <h2>My Invitations</h2>
  <div class="row">
    <% if fighter_events[0] %>
      <h3>Waiting for your answer!</h3>
      <% fighter_events[0].each do |event|  %>
            <div class="col-xl-4 col-md-6 my-1">
          <div class="card" style="height:100%">
            <%= render "shared/default_photo",
                        item: event,
                        default_img: img_paths.sample,
                        class_name: "",
                        alt: "#{event.title}'s image" %>
            <div class="card-body">
              <h5 class="card-title">
                <%= event.title %>
                <%= render "events/status_badge", status: event.status, date: event.end_time %>
              </h5>
              <p class="card-text">
                <%= event&.place %>
              </p>
              <%= link_to "See more", event_path(event), class:"badge text-bg-primary text-light link-offset-2 link-underline link-underline-opacity-0" %>
              <%# -- waiting for editing Xinhe -- %>
              <%= button_to "Accept the invitation",
                          event_path(event, event: { status: "accepted"}),
                          method: :patch,
                          class: "border border-0 badge text-bg-success text-light link-offset-2 link-underline link-underline-opacity-0" %>
              <%= button_to "Decline the invitation",
                          event_path(event, event: { status: "declined" }),
                          method: :patch,
                          class:"border border-0 badge text-bg-light link-offset-2 link-underline link-underline-opacity-0" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if fighter_events[1] %>
      <h3>Your coming events!</h3>
      <% fighter_events[1].each do |event| %>
        <div class="col-xl-4 col-md-6 my-1">
          <div class="card" style="height:100%">
            <%= render "shared/default_photo",
                        item: event,
                        default_img: img_paths.sample,
                        class_name: "",
                        alt: "#{event.title}'s image" %>
            <div class="card-body">
              <h5 class="card-title">
                <%= event.title %>
                <%= render "events/status_badge", status: event.status, date: event.end_time %>

              </h5>
              <p class="card-text">
                <%= event&.place %>
              </p>
              <%= link_to "See more", event_path(event), class:"badge text-bg-primary text-light link-offset-2 link-underline link-underline-opacity-0" %>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>


<% end %>
