<% date = date || nil %>
<% class_name = class_name || "" %>
<% style = style || "" %>
<%# <% if date && date.to_date < Date.today %>

<% if status == "accepted" %>
  <div class=" <%= class_name %>" style="<%= style %>">
  <span class="stat mb-0">
  ACCEPTED
  </span>
  </div>
<% elsif status == "pending" %>
  <div class=" <%= class_name %>" style="<%= style %>">  <span class="stat mb-0">
  WAITING
  </span></div>
<% else %>
  <div class=" <%= class_name %>" style="<%= style %>">  <span class="stat mb-0">
  DECLINED
  </span></div>
<% end %>
