<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-md-10">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :fighter, label: "Fighter", input_html: {value: "#{@event.fighter.first_name} #{@event.fighter.last_name} \"#{@event.fighter.nickname}\"", disabled: true} %>
        <%= f.input :title, label: "Event title" %>
        <%= f.input :fight_type %>
        <%= f.input :place %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.input :target %>
        <%= f.input :description %>
        <div class="form-actions">
          <div class="row justify-content-around pb-3">
            <div class="col-md-5">
              <%= f.button :submit,
                            class:"btn btn-danger text-light me-3",
                            style:"width:100%" %>
            </div>
            <div class="col-md-5">
              <%= link_to "Cancel Event", event_path(@event),
                          data: {turbo_method: :delete, turbo_confirm: "sure ?"},
                          class:"btn btn-outline-secondary",
                          style:"width:100%" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
