<% img_paths = [
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-6.jpg",
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-7.jpg",
"https://partyanimals.com/media/screenshots/thumbnails/media-image-small-9.jpg"
] %>
<div class="container">
  <h2>Coming Events...</h2>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xl-4 col-md-6 my-1">
        <div class="card" style="height:100%">
          <%= image_tag img_paths.sample %>
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-body-secondary">
              <%= "#{event.fighter.first_name} #{event.fighter.last_name} \"#{event.fighter.nickname}\"" %>
            </h5>
            <h5 class="card-title">
              Will Participate: <%= event.title %>
            </h5>
            <p class="card-text">
              <i class="fa-solid fa-location-dot"></i> <%= event&.place %>
            </p>
            <%= link_to "See more", event_path(event), class:"badge text-bg-primary text-light link-offset-2 link-underline link-underline-opacity-0" %>
          </div>
        </div>
      </div>
  <% end %>
  </div>

</div>
