<div class="container">
  <h1>
  <%= @event.title %>
  <% if @event.waiting_time %>
    <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill"><%= @event.waiting_time %></span>
  <% end %>

  <%= render "events/status_badge", status: @event.status, date: @event.end_time %>
  </h1>

  <div class="p-4"></div>

  <% @event.reviews.each do |review| %>
    <%= render "reviews/show", review: review %>
  <% end %>

  <% if @waiting_for_comment %>
    <%= render "reviews/new", event: @event, review: @review %>
  <% end %>

</div>
