<!DOCTYPE html>
<html>
  <head>
    <title>UberHits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "https://cdn.icon-icons.com/icons2/229/PNG/128/beat_brick_26039.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </head>

  <body>
  <%= render "shared/navbar" %>
  <div style="min-height:100vh;position:relative">
    <%= render "shared/flashes" %>
    <div style="margin-top:7.5rem;padding-bottom:2.5rem;">
    <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </div>
  </body>
</html>
